<!DOCTYPE html>
<html lang="en">

<head>
        <title>Save Big On Online Grocery Store in Mumbai, India</title>
		<meta name="description" content="Free Home Delivery OF All Your Daily Needs, Kids Products, Home Appliances And More Products"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css"/>
        <script src="assets/bootstrap/jquery.min.js"></script>
        <script src="assets/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" href="assets/common/css/style.css"/>  
        <link rel="stylesheet" href="assets/common/css/responsive.css">  
    </head>
    <body>
        <!---Header-->
        <div class="container main_box">
            <nav class="navbar navbar-default mobile_navbar" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-left">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand navbar-brand-centered">DailyShop</div>
            </div>

            </div><!-- /.container-fluid -->
        </nav>
            <nav class="navbar navbar-default user_nav toggle_menu">
                <ul class="nav navbar-nav nav-line-l">
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> dailyshopstore@gmail.com</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-line-r">
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 9029000036</a></li>
                </ul>

            </nav>
            <nav class="navbar navbar-default nav-brand toggle_menu">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" class="img-responsive"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="Contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div><!-- /.container-fluid -->
        <div class="container"> <div class="container pk-main">
		<div class="panel panel-default">
		  <div class="panel-body">
			<div class="col-md-6 left">
			<h2>Contact Us:</h2>
				 <form action="#" method="POST">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" name="InputName" placeholder="Name" class="form-control" autofocus="autofocus" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" name="InputEmail" placeholder="Email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" name="InputCno" placeholder="Phone" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <textarea name="InputMessage" rows="6" class="form-control" type="text" required></textarea>
                            </div>
                        </div>
                        <div class="">
                        <button type="submit" class="btn pull-right">Send <span class="fa fa-send"></span></button>
                            <button type="reset" value="Reset" name="reset" class="btn">Reset <span class="fa fa-refresh"></span></button>
                        </div>
                    </div>
                    </form>
			</div>
			<div class="col-md-6 right">
				<h2>Address & Directions:</h2>
                                <i class="fa fa-envelope"> dailyshopstore@gmail.com</i><br/>
                                <i class="fa fa-phone"> &nbsp;9029000036</i>

				<h3>Daily Shop's</h3>
				<h4>Dombivli Store:</h4>
				<p>First Floor,Shubhangi Darshan,<br>
				   Near KMDC Office,Manpada Road,<br>
				   Dombivli(E)- 421201
				</p>
                <br>
				<h4>Andheri Store:</h4>
				<p> 
					Adarsh Nagar Bus Stop,<br>
					DN Nagar, Near Infinity Mall,<br>
					Andheri West, Mumbai,<br> 
					Maharashtra 400047
                </p>         
		  </div>
		</div>
	  </div>
	</div>
	 </div>
<div class="container footer">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col_con">
            <h4>Online Shopping</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="Contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col_con map_frame">
            <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="200px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.13319808704!2d79.84040831444801!3d20.6197880069907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDM3JzExLjIiTiA3OcKwNTAnMzMuNCJF!5e1!3m2!1sen!2sin!4v1469795728409"></iframe>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#" target="_blank">© 2016-17 YouMeWebs.</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="assets/common/js/cartcount.js"></script>
<script>
    $(document).ready(function () {
        countincart();
        $(document).scroll(function (e) {
            var scrollTop = $(document).scrollTop();
            if (scrollTop > 90) {
                $('.cate_nav_drop').removeClass('navbar-static-top').addClass('navbar-fixed-top container add_mar');
            } else {
                $('.cate_nav_drop').removeClass('navbar-fixed-top container add_mar').addClass('navbar-static-top');
            }
        });
    });
    setTimeout(
  function() 
  {
    $('.splash').fadeOut();
  }, 5000);

</script>
</body>
</html>
